@use '/src/vars';

.topbar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    padding: .5rem;
}

.topbar-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    height: fit-content;
    padding: .3rem;
    gap: .3rem;
    border-radius: 500px;
    @include vars.blured-background;
    @include vars.soft-shadow;
}

.topbar-info-item {
    display: flex;
    align-items: center;
    img {
        width: 1.8rem;
        height: 1.8rem;
    }
}

.topbar-info-button {
    padding: 0;
    margin: 0;
    background: none;
    border: none;
    cursor: pointer;
}