@use "/src/vars";

.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
  background-color: rgba($color: #000000, $alpha: 0.5);
}

.popup {
  --border: rgb(0 0 0/13%);
  --highlight: rgb(255 255 255/20%);
  --shadow: rgb(0 0 0/10%);

  display: flex;
  flex-direction: column;
  padding: 0.7rem;
  border-radius: 1rem;
  gap: 0.5rem;
  width: 70%;
  max-width: 800px;
  max-height: 70%;
  background: white;
  box-shadow: inset 0 0 0 1px var(--border), inset 0 1px 0 var(--highlight),
    0px 5px 9px 2px rgb(0 0 0 / 20%);
}

.popup-content-container {
  overflow-y: auto;
}

.popup-buttons-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
}
