@use '/src/vars';

#root,
body,
html {
    &:has(.popup) {
        overflow: hidden;
    }
}

.wrapper {
    margin: auto;
    width: auto;
    max-width: 1024px;
    height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    padding: 0 1rem 1rem 1rem;
    gap: 1rem;
}

.carousel {
    background-color: green;
    padding: 1rem;
    overflow-x: hidden;
}

.carousel-item {
    padding: .5rem;
    margin: .25rem;
    border-radius: .5rem;
    @include vars.blured-background;
    @include vars.soft-shadow;
}