@use "/src/vars";

#root,
body,
html {
  &:has(.popup) {
    overflow: hidden;
  }
}

body {
  background-color: rgba(250, 250, 250);
}

.wrapper {
  margin: auto;
  width: auto;
  max-width: 1024px;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  gap: .4rem;
  margin: 0 .5rem;
  margin-bottom: .5rem;
}

.flex-vertical {
  display: flex;
  flex-direction: column;
  gap: .4rem;
}

.flex-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  gap: .4rem;
}