.ev-slide {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.ev-slide-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  //   width: 8rem;
  //   height: 8rem;

  img {
    align-self: flex-end;
    justify-self: right;
    user-select: none;
    pointer-events: none;
    width: 6rem;
  }
}

.ev-slide-icon-value {
  // position: absolute;
  // align-self: flex-start;
  font-size: 3rem;
  font-weight: 700;
}

.ev-slide-description {
  font-weight: 400;
  text-align: center;
  text-wrap: wrap;
  max-width: 8rem;
}
